<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">\
    <style>
        body {
            background: #007bff;
            background: linear-gradient(to right, #0062E6, #33AEFF);
        }

        .btn-login {
            font-size: 0.9rem;
            letter-spacing: 0.05rem;
            padding: 0.75rem 1rem;
        }

        .btn-google {
            color: white !important;
            background-color: #ea4335;
        }

        .btn-facebook {
            color: white !important;
            background-color: #3b5998;
        }
    </style>
    <title>otp</title>
</head>

<body>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card border-0 shadow rounded-3 my-5">
                        <div class="card-body p-4 p-sm-5">
                            <h5 class="card-title text-center mb-5 fw-light fs-5">ENTER THE OTP TO SIGNUP</h5>
                            <p><%= locals.otp %></p>
                            <form  action="" method="post">
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" id="floatingInput"
                                        placeholder="*****" name="otp"> 
                                    <label for="floatingInput">OTP</label>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign
                                        in</button>
                                </div>
                                <form action="/resendSignup-otp" class="mt-5" method="post">

                                    <button class="btn btn-danger ms-2" id="resend-button">Resend OTP</button>
                                    <!-- <span id="timer" class="ms-3">15</span> -->
                                </form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</body>
<script>

    function disable() {

        const resend_button = document.getElementById("resend-button")
        resend_button.disabled = true;

    }
    disable()

    setTimeout(function () {
        const resend_button = document.getElementById("resend-button")
        resend_button.disabled = false;
    }, 15000)

    let count = 15
    const timerDiv = document.getElementById('resend-button');

    const timer = setInterval(function () {
        count--;
        if (count > 0) {
            timerDiv.textContent = 'Resend OTP in ' + count + 's';
        }
        else {
            timerDiv.textContent = 'Resend OTP'
        }

    }, 1000);

    setTimeout(function () {
        clearInterval(timer);
    }, 15000);
</script>
</html>