<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width-device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="sie-edge" />
    <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../stylesheets/user-login.css">
    <title>Slider Form</title>
</head>

<body>


    <!--user signup!-->
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/user-signup" method="post">
                <h1>Create Account</h1>
                <div class="social-container">
                    <a href="#" class="social">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                    <a href="#" class="social">
                        <ion-icon name="logo-googleplus"></ion-icon>
                    </a>
                    <a href="#" class="social">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                    <p class="text-danger">
                        <%= locals.error1 %>
                    </p>
                </div>

                <span>or use your email for registration</span>
                <input type="text" placeholder="Name" name="name" required="true">
                <input type="email" placeholder="Email" name="email" required="true">
                <input type="text" placeholder="Mobile Number" name="mobile" required="true">
                <input type="password" placeholder="Password" name="password" required="true">
                <button type="submit">otp</button>
            </form>
        </div>
        <div class="form-container sign-in-container">






            <!--user login!-->
            <form action="/user-login" method="post">
                <p>
                    <%= locals.error %>
                </p>
                <h1>Sign In</h1>
                <div class="social-container">
                    <a href="#" class="social">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                    <a href="#" class="social">
                        <ion-icon name="logo-googleplus"></ion-icon>
                    </a>
                    <a href="#" class="social">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </div>
                <span>or use your account</span>
                <input type="email" placeholder="Email" name="email">
                <input type="password" placeholder="Password" name="password">
                <button type="submit">Sign In</button>
                <a href="/user-login/forgotpassword">forgotpassword</a>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello,Friend</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Signup</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../javascripts/user-login.js"></script>
    <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>

</body>

</html>